.header {
  padding: 60px;
  background-image: url(/Images/TOWN_logo.png);
  width: auto;
  height: 100px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("Background.jpg");
    background-color: #ccc;
}
div {
    height: 400px;
    padding: 10px;
    padding-left: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(165, 15, 15);
  }

  li a:active {
    background-color: rgb(165, 15, 15);
  }
